---

layout: new_default
title:  Kamran Raza Resume
permalink: /

---

{% include jobs.html%}
{% include_relative relatedProjects.md%}

<div class="EducationInfo">

    <div class="Uni"> 
        {{ employer1 }} 
    </div> 
    
    <div class="degree">
        <li><a href="assets/Academic_Transcript_UG.pdf" download>     
        {{ BSdegree }} - May 2018</a>
        <span class="tooltiptext">Download Undergraduate Transcript</span></li>
        <li><a href="assets/Academic_Transcript_G.pdf" download>
        {{ MSdegree }} - August 2021</a>
        <span class="tooltiptext">Download Graduate Transcript</span></li>
    </div>

</div><hr></hr>

<div class="EducationInfo">

    <div class="Uni"> 
        {{employer0}} 
    </div> 
    
    <div class="jobtitle">{{ programmerA }} - MAy 2022 - March 2024</div>
    {% for lines in jobDescMUFG %}
            <li>{{ lines }}.</li>
        {% endfor %}

</div><br>


<div class="EducationInfo">

    <div class="Uni"> 
        {{employer1}} 
    </div> 
    
    <div class="jobtitle">{{ programmerA }} - September 2019 - 2020</div>
    {% for lines in jobDescNJIT %}
            <li>{{ lines }}.</li>
        {% endfor %}

</div><br>

<div class="EducationInfo">
    <div class="Uni">
        {{employer2}}
    </div>

    <div class="jobtitle">{{programmer}} - January 2019 - September 2019</div> 
        {% for lines in jobDescBURL %}
            <li>{{ lines }}</li>
        {% endfor %}
</div><hr></hr>

<div class="relatedProjects">
    <div class=titleRP>Related Projects</div>
    <div class="Uni2"> 
        {{employer1}}
    </div>
        <div class="IS601">
        <a href="https://github.com/kr255/schoolapi"><div class=dateStart>Summer 2021 - Completed
            <span class="tooltiptext">Repository Link</span>
        </div></a>
        {% for lines in is691 %}
            <li>{{ lines }}.</li>
        {% endfor %}
    </div>
    <div class="IS601">
        <a href="https://github.com/kr255/IS601_Project_3/tree/Project3"><div class=dateStart>Summer 2021 - Completed
            <span class="tooltiptext">Repository Link</span>
        </div></a>
        {% for lines in is601 %}
            <li>{{ lines }}.</li>
        {% endfor %} 
    </div>
    <div class="IS601">
        <a href="https://github.com/kr255/IS601_Project_One"><div class=dateStart>Summer 2021 - Completed
            <span class="tooltiptext">Repository Link</span>
        </div></a>
        {% for lines in is601-2 %}
            <li>{{ lines }}.</li>
        {% endfor %} 
    </div>
    <div class="CS610">
            <div class=dateStart>Summer 2020 - Completed</div>
            {% for lines in CS610 %}
                <li>{{ lines }}.</li>
            {% endfor %} 
    </div>
    <div class="CS611">
        <div class=dateStart>Spring 2020 - Completed</div>
        {% for lines in CloudSys %}
            <li>{{ lines }}.</li>
        {% endfor %} 
    </div>

</div><hr></hr>
<div class="EducationInfo">
    <div class="Uni">
        {{skillss}}
    </div>
    {% for lines in Skills %}
        {{ lines }}.
    {% endfor %}
</div><hr></hr>

<div class="EducationInfo">
    <div class="Uni">
        Operating Systems
    </div>
    Windows(powershell, cmd.exe), Linux(Arch), FreeRTOS.

</div><hr></hr>
<!-- <div class="wrapper-page-content">
    
    {{ CS610 }}

 </div> -->









<style>.EducationInfo
    .Uni{font-size: larger; font-weight: bolder;}
    
    .EducationInfo
    .degree{font-size: large; font-weight: bold;}

    .EducationInfo
    .jobtitle{font-size: large; font-style: italic; font-weight: bold;}

    .wrapper-page-content{ font-size: 150%;}

    .titleRP{font-size: larger; font-weight: bold;}
    .Uni2{font-size: large; font-weight: bolder;  font-style: italic;}
    .dateStart{font-size: large; 
        font-style: italic; 
        font-weight: bold;   
    }

    .relatedProjects
    .IS601
    .dateStart
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
        
    }

    .EducationInfo
    .degree
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
        
    }


     
    .tooltiptext:hover {
        visibility: visible;}

</style>
