---

layout: new_default
title:  Kamran Raza Resume
permalink: /

---

{% include jobs.html%}
{% include_relative relatedProjects.md%}

<div class="EducationInfo">

    <div class="Uni"> 
        {{ employer1 }} 
    </div> 
    
    <div class="degree">
        <a href="assets/Academic_Transcript_UG.pdf" download>     
        <p class="para" >{{ BSdegree }} - May 2018</p>
        <span class="tooltiptext">Download Undergraduate Transcript</span></a>
        <a href="assets/Academic_Transcript_G.pdf" download>
        <p class="para" >{{ MSdegree }} - August 2021</p>
        <span class="tooltiptext">Download Graduate Transcript</span>
    </a>
    </div>

</div><hr></hr>

<div class="EducationInfo">

    <div class="Uni"> 
        <p>{{employer1}}</p> 
    </div> 
    
    <div class="jobtitle">{{ programmerA }} - September 2019 - 2020</div>
    {% for lines in jobDescNJIT %}
            <p>&emsp;{{ lines }}.</p>
        {% endfor %}

</div><hr></hr>

<div class="EducationInfo">
    <div class="Uni">
        <p>{{employer2}}</p>
    </div>

    <div class="jobtitle">{{programmer}} - January 2019 - September 2019</div> 
        {% for lines in jobDescBURL %}
            <p>&emsp;{{ lines }}.</p>
        {% endfor %}
</div><hr></hr>

<div class="EducationInfo">
    <div class="Uni">
        <p>{{employer3}}</p>
    </div>

    <div class="jobtitle">{{coop}} - June 2017 – October 2017</div> 
        {% for lines in jobDescPEF %}
            <p>&emsp;{{ lines }}.</p>
        {% endfor %}
</div><hr></hr>

<div class="relatedProjects">
    <div class=titleRP>Related Projects</div>
    <div class="Uni2"> 
        <p>{{employer1}}</p>
    </div>
    <div class="IS601">
        <a href="https://github.com/kr255/IS601_Project_3"><div class=dateStart>Summer 2021 - Completed
            <span class="tooltiptext">Repository Link</span>
        </div></a>
        {% for lines in is601 %}
            <p>&emsp;{{ lines }}.</p>
        {% endfor %} 
    </div>
    <div class="IS601">
        <a href="https://github.com/kr255/IS601_Project_One"><div class=dateStart>Summer 2021 - Completed
            <span class="tooltiptext">Repository Link</span>
        </div></a>
        {% for lines in is601-2 %}
            <p>&emsp;{{ lines }}.</p>
        {% endfor %} 
    </div>
    <div class="CS610">
            <div class=dateStart>Summer 2020 - Completed</div>
            {% for lines in CS610 %}
                <p>&emsp;{{ lines }}.</p>
            {% endfor %} 
    </div>
    <div class="CS611">
        <div class=dateStart>Spring 2020 - Completed</div>
        {% for lines in CloudSys %}
            <p>&emsp;{{ lines }}.</p>
        {% endfor %} 
    </div>

</div><hr></hr>
<div class="EducationInfo">
    <div class="Uni">
        <p>{{skillss}}</p>
    </div>
    {% for lines in Skills %}
        <p>&emsp;{{ lines }}.</p>
    {% endfor %}
</div><hr></hr>

<div class="EducationInfo">
    <div class="Uni">
        <p>Operating Systems</p>
    </div>
    
        <p>&emsp;Linux (Ubuntu, CentOS, Ubuntu Server), Windows (7, 8.1, 10).</p>

</div><hr></hr>
<!-- <div class="wrapper-page-content">
    
    {{ CS610 }}

 </div> -->









<style>.EducationInfo
    .Uni{font-size: larger; font-weight: bolder;}
    
    .EducationInfo
    .degree{font-size: large; font-weight: bold;}

    .EducationInfo
    .jobtitle{font-size: large; font-style: italic; font-weight: bold;}

    .wrapper-page-content{ font-size: 150%;}

    .titleRP{font-size: larger; font-weight: bolder;}
    .Uni2{font-size: large; font-weight: bolder;  font-style: italic;}
    .dateStart{font-size: large; 
        font-style: italic; 
        font-weight: bold;   
        border-bottom: 1px dotted black;}

    .relatedProjects
    .IS601
    .dateStart
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
        
    }

    .EducationInfo
    .degree
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 105%;
        
    }


    .EducationInfo.degree.para:hover
    .tooltiptext{visibility: visible;}

    .relatedProjects:hover 
    .tooltiptext {
        visibility: visible;}

</style>
