<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        
    </head>
    <body>
    
        {% assign fname = "Kamran" %}
        {% assign lname = "Raza" %}
        {% assign address = "1161 A Green Street Iselin, NJ 08830" %}
        {% assign phone = "732-692-7836" %}
        
        <h1> {{ fname }} {{ lname }} </h1>
        <p>{{ address }} | 732-692-7836 | rzkamran94@gmail.com | <a href="https://www.linkedin.com/in/kr255/">LinkedIn</a></p><hr></hr>

    </body>
</html>
