{% assign employer0 = "Mitsubishi Union Financial Group, New York, NY" %}
{% assign employer1 = "New Jersey Institute of Technology, Newark, NJ" %}
{% assign employer2 = "Burlington Coat Factory, Burlington, NJ" %}
{% assign employer3 = "PEFServices, West Orange, NJ" %}
{% assign BSdegree = "B.S in Information Technology"%}
{% assign MSdegree = "M.S in Computer Science"%}
{% assign programmer = "Application Development Analyst"%}
{% assign programmerA = "Programmer Analyst"%}
{% assign coop = "Software Developer Co-Op" %}
{% assign skillss = "Computer Skills" %}

{% assign jobDescMUFG =

"Assisted in requirements gathering, development, testing, UAT and deployment of converting legacy shell batch
processes and their respective Cronjobs to Control-M jobs.||Provide second-line support of internal systems (MoccaLite, Polypath), engaging with business users, communicating
technical concepts clearly and concisely to non-technical users of the other system (MoccaLite, Polypath).||Worked with internal teams, identified VSTO extensions for Microsoft products. Designed, implemented and
maintained a robust testing suite to enable proper VSTO plugin development for Excel, transforming business and
internal platforms in a disruptive way.||Partnered with functional business leads to understand requirements and communicate technical concepts to solve
issues such as configuration of various applications such as PolyPath, assuring accurate data output.||Formulated design and implementation requirements for complex systems following coding best practices and
utilizing Object-Oriented programming and design patterns concepts. Implemented Camel Processes and Predicates, Transactions within Routes. Adhering to Apache Camel
specifications. Allowed proper access to shared variables, defined critical sections to reduce the use of large,
synchronized methods.||Fixed multithreading problems in Camel Routes, such as state variables, synchronization issues, correct
initialization of objects. Exponentially increasing the performance, order and data of the processes.||Configured processes, applications such as Camel Context, Spring configuration,
.properties files.||Worked on global software development teams, communicating status/design effectively across multiple regions,
documenting statuses, changes and updates via Confluence.||Updated, implemented and maintained existing Python tools for processing domain specific data (Winfits,
MarketAxess). Using unittest to enable safe, complete, and scalable solutions across business lines. Proper handling
of data, assuring accurate data to type mapping, etc.–before routing it further domains and processes (Polypaths,
Queue/Topic).||Worked closely with project leads in design, code and testing phases of SDLC to resolve High to Very High Veracode
vulnerabilities such as log injection, SQL injections. Releasing fixes, features in a timely manner. Successfully took part in industry-wide business continuity tests such as SIFMA. Internal business continuity tests
amongst other teams, desks and offices.||Perform technical recruiting, training, and mentoring new hires.||Conducted manual and automated deployment and testing of production environments.||" | split: ".||" %}

{% assign jobDescNJIT =

"Responsible for maintaining the day to day responsibilities of the Application Information Systems
department.||Supported and revised critical Groovy and PHP applications such as Admission Fall 2019, Full Time
Certification, Schedule Builder, and more.||Helped implement third party solutions by Ellucian as old applications
retired and continued support.||Installed and administered development environments for all the in-house NJIT
application.||Generated daily reports using IBM Cognos reporting tool.||" | split: ".||" %}

{% assign jobDescBURL =

"Refined the communication layer for an API client library using Java's HttpUrlConnection and cURL.||Parsed returned
JSON data to Java POJOs using Jersey for the API client library.||Responsible for designing and implementing the
underlying hierarchical data structure for the in-house application.||Refined and remodeled the application framework to
overcome Java 1.7's lack of default interface behavior.||Developed responsive GUI components adhering to business
requirements with Java Swing and JDBC using the MVC pattern.||Raised and resolved defects for Allocation Management
System the internal application on a day to day basis.||" | split: ".||"%}

{% assign jobDescPEF =
"Worked closely with the engineering team to develop the back-end of a web application
to compare and output large amounts of investor data from and to Microsoft Excel using PHP, PHP-Excel and
JavaScript.||Responsible for maintaining existing systems and implementing new functionalities using technologies such
as Jira, Hibernate and Spring.||Managed day to day task for the IT Department including
imagining desktops/laptops, installing, troubleshooting and updating applications, desktops, laptops related to other
departments.||Maintaining and updating IT inventory for all hardware."

| split: ".||"%}


{% assign Skills =

"Java(Spring, Hibernate), Python(Flask, OOP, unittest), C#(EF Core, VSTO), C/C++(Arduino, ESP32), Apache(Kafka,
Camel), Docker, AWS, SQL, MySql, Maven, Git(GitBash, EGit), HTML/CSS, JS(Angular, JQuery, AJAX)"
%}